@{
    ViewBag.Title = "User Profile";
}

<div class="container">
    <div ng-controller="Part2Controller">
        <div>
            <h1>COntact Detail...</h1>
        </div>
        <table>
            <tr>
                <td>First Name : </td>
                <td>{{Contact.FirstName}}</td>
            </tr>
            <tr>
                <td>Last Name : </td>
                <td>{{Contact.LastName}}</td>
            </tr>
            <tr>
                <td>Contact No1 : </td>
                <td>{{Contact.ContactNo1}}</td>
            </tr>
            <tr>
                <td>Contact No2 : </td>
                <td>{{Contact.ContactNo2}}</td>
            </tr>
            <tr>
                <td>E-MailID : </td>
                <td>{{Contact.EmailID}}</td>
            </tr>
            <tr>
                <td>Address : </td>
                <td>{{Contact.Address}}</td>
            </tr>
        </table>
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/AngularController/Part2Controller.js"></script>
}